
Conception/Maquettes/.DS_Store

Conception/UML/ressources/.DS_Store

.DS_Store

*/.DS_Store

Implémentation/Workspace/.metadata

Implémentation/Workspace/.metadata/*
Implémentation/Workspace/.metadata/*.*
Implémentation/Workspace/.metadata/.log

*.index 
*.dat 
Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/*/*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.core/*.index

Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/*.*

.*.snap
*.snap

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/GestureChallenge/.indexes/e4/b9/history.index

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/GestureChallenge/.*.snap

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.*/org.eclipse.core.*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.core/*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.core/*.*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.*/*.*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/GestureChallenge/.indexes/*/*/history.index

Implémentation/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/GestureChallenge/.*



Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.core/*

Implémentation/Workspace/.metadata/.plugins/org.eclipse.jdt.ui/*.xml

Implémentation/Workspace/.metadata/.plugins/org.eclipse.ui.workbench/*.xml
